CI_ENVIRONMENT = production
app.baseURL = 'http://localhost:8080/'
app.forceGlobalSecureRequests = true

database.default.hostname = localhost
database.default.database = mass_email_system
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
